* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  --color-primary: #6666e0;
  --color-black: #3d3d3d;
  --color-neutral: #6666e0;
  --color-hr: #fff;
}
header,
footer {
  min-height: 100px;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.purple {
  color: purple;
}
