* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  --color-primary: #6666e0;
  --color-dark: #3d3d3d;
  --color-neutral: #6666e0;
  --color-hr: #e9e9e9;

  --color-red: #b80000;

  --color-blue: #0300b8;

  --color-green: green;

  --color-purple: purple;

  --color-black: black;

  --color-off-white: #f8f8ff;
}
header,
footer {
  min-height: 100px;
}
.red {
  color: var(--color-red);
}
.blue {
  color: var(--color-blue);
}
.green {
  color: var(--color-green);
}
.purple {
  color: var(--color-purple);
}
.black {
  color: var(--color-black);
}
button {
  @media (hover: hover) and (pointer: fine) {
    cursor: pointer;
  }
}
