@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-26vw * 5));
  }
}
.header {
  background: black;
  overflow: hidden;
}
.slider {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07);
  height: 100px;
  margin: auto;
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;

  .slideTrack {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(26vw * 10);
    height: 100%;
    overflow: hidden;

    align-items: center;
  }

  .slide {
    height: 100px;
    width: 26vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider:before,
.slider:after {
  content: "";
  height: 100px;
  position: absolute;
  width: 10%;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider:before {
  left: 0;
  top: 0;
}
